# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
.streamlit/
*.swp
*.swo
*~
dataset_analysis
dataset_production
Image Data base
# Environment variables
.env
.env.local

# Database
*.db
*.sqlite
*.sqlite3
data/

# Images uploadées
data/images/

# Modèles IA
models/*.h5
models/*.pth
models/*.pt
models/*.onnx
models/checkpoints/

# Logs
*.log
logs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/

# OS
.DS_Store
Thumbs.db
local_model
Moh
# Testing
.pytest_cache/
.coverage
htmlcov/
.venv/
env310/
env311/
__pycache__/
*.pyc
# Jupyter
.ipynb_checkpoints/
outputs




