streamlit>=1.31.0
rich==13.7.1

numpy
pandas
matplotlib

scikit-learn
xgboost

torch==2.2.2
torchvision==0.17.2

opencv-python-headless
Pillow

albumentations

fpdf2
plotly

huggingface_hub
timm
faiss-cpu