numpy>=1.24.0,<1.26.0
streamlit>=1.31.0
rich==13.7.1
pandas
matplotlib
scikit-learn
xgboost
torch==2.2.2
torchvision==0.17.2
opencv-python-headless
Pillow
albumentations
fpdf2
plotly
huggingface_hub
timm
faiss-cpu
python-dotenv